.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }

.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}  

.footer-top-right {
    display: flex;
    gap: 35px;  
}


.footer-top-right img:hover{
    transform: scale(1.25);
    transition: 0.3s;
    /* border: none; */
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

@media(max-width:768px){
  .footer{
    margin: 50px 70px;
  }  

  .footer-top{
    flex-direction: column;
    gap:40px;
    align-items: start;
  }

  .footer-top-left p{
    margin-top: 10px;
  }
  .footer-top-right img{
    max-width: 40px;
  }
  .footer-bottom{
    display:flex;
    flex-direction: column-reverse;
  }
}